---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Rspec+Twitter+API+testing
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ZP4LQvAtV7DsHfFQhLyabdYqG", oauth_nonce="5bfcb1b5105b65c47e5fa45f471d1ae9",
        oauth_signature="7J%2FbdfuRbmUvlLZh4Yb8LTEdUQk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1498527866", oauth_token="321696384-snChjxRMU3KE6BeyvlGhHCmUJkyNnSVjgpFyUdsJ",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 27 Jun 2017 01:44:26 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 447b6a84fa8cb6f0d7147b6eda6f71b5
      X-Response-Time:
      - '186'
      X-Transaction:
      - 0067b155006bb7a4
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Tue, 27 Jun 2017 01:44:27 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ZP4LQvAtV7DsHfFQhLyabdYqG", oauth_nonce="6e259b2ad16ac47dd8062df6fc62099e",
        oauth_signature="7Ji4%2BImhIUGmFElJeZXLxntd4KY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1498527867", oauth_token="321696384-snChjxRMU3KE6BeyvlGhHCmUJkyNnSVjgpFyUdsJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 27 Jun 2017 01:44:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e54832684a867d93855e77b68098a920
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '897'
      X-Rate-Limit-Reset:
      - '1498528251'
      X-Response-Time:
      - '186'
      X-Transaction:
      - '0013823500e0f72c'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Jun 27 01:33:45 +0000 2017","id":879513045969534976,"id_str":"879513045969534976","text":"Rspec
        Twitter API testing","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/google.com\" rel=\"nofollow\"\u003eTDD Rails testing\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":321696384,"id_str":"321696384","name":"Valdeci
        Gomes","screen_name":"valdessai","location":"Curitiba, Brazil","description":"Na
        tentativa de fazer as coisas acontecerem. \n\nps. Tweets antigos devem ser
        ignorados.","url":"https:\/\/t.co\/AXrcSPBT5m","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/AXrcSPBT5m","expanded_url":"https:\/\/br.linkedin.com\/in\/valdeci\/en","display_url":"br.linkedin.com\/in\/valdeci\/en","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":338,"friends_count":45,"listed_count":0,"created_at":"Wed
        Jun 22 00:18:48 +0000 2011","favourites_count":9,"utc_offset":-14400,"time_zone":"Santiago","geo_enabled":true,"verified":false,"statuses_count":8997,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/677732969\/8819f5998e6f3fc33b15b76708ca2d25.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/677732969\/8819f5998e6f3fc33b15b76708ca2d25.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/818611560058941440\/UtGA5y4I_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/818611560058941440\/UtGA5y4I_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/321696384\/1397430808","profile_link_color":"19CF86","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"pt"}]'
  recorded_at: Tue, 27 Jun 2017 01:44:27 GMT
recorded_with: VCR 3.0.3
