<h1><%= @achievement.title %></h1>

<div>
  <%= @achievement.description_html %>
</div>

<div class="encouragement">
  <h2>Encouragements</h2>

  <%= link_to 'Encourage', new_api_achievement_encouragement_path(@achievement), id: 'encourage-button' %>
</div>
